@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.tile-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
}


.top-section {
   background-color: #1F2937;
   height: 500px;
}

.header {
    width: 900px;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-links .nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header-content {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.header-text {
    color: #F9FAF8;
    margin-right: 10px;
}

.header-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    font-weight: 900;
    font-size: 48px;
}

.header-image img{
    height: 200px;
    width: 400px;
}

.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

.sign-up a {
    color: #F9FAF8;
    text-decoration: none;
}

.middle-section {
    width: 800px;
    text-align: center;
    margin: 0px auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-tiles {
    display: inline-flex;
    justify-content: space-between;
}

.tile-image img {
    height:150px;
    width: 150px;
    border-radius: 10%;
    border: 2px solid black;
    transition: 0.3s;
}

.tile-image img:hover {
    box-shadow: 5px 7px #1F2937;
}

.tile-text {
    height:150px;
    width: 150px;
    text-align: justify;
    margin-top: 5px;
}

.quote-container {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container .quote-text {
    font-size: 36px;
    width: 800px;
    text-align: justify;
}

.quote-container .quote-name {
    float: right;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}